/* Header */

#header {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	background-color: #EBEBFF;
}

/* Navigation Pane */

nav {
	padding: 5px 0 5px 0;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
}

nav li {
	display: inline;
}

nav .bar {
	background-color: white;
	padding: 10px 50px 10px 50px;
	border: 1px solid black;
	text-decoration: underline;
}

nav a:hover {
	color: green;
}

/* Body */

#body {
	font-size: 12px;
	font-family: arial;
	background-color: #EBF5FF;

}

/* Blog Posts */

.post {
	margin: 25px 0 25px 0;
}

.post h2 {
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

.post h3 {
	font-size: 18px;
	margin-top: -10px;
}

.post h4 {
	font-size: 16px;
	font-weight: bold;
}

.post p {
	font-weight: italic;
	margin: 0px;
}